body {
    margin: 0;
    overflow-x: hidden;
}

/*THE MAIN BOXES*/
.mainbox {
    position: relative;
    height: auto;
    width: 50%;
    transform: translateX(50%);
    display: inline-block;
}

/*FOOTER */
#footer {
    padding: 1px;
    position: absolute;
    text-align: center;
    background: darkgrey;
    color: black;
    font-size: 17px;
    z-index: 9999;
    top: 6220px;
    height: 100px;
    width: 100%;
    display: block;
}

.mainbox2 {
    position: absolute;
}

/*HEADER*/
#headermain {
    padding: 1px;
    opacity: 0.9;
    text-align: center;
    letter-spacing: 60px;
    box-shadow: 1px 1px 5px black;
    background: white;
    color: black;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 110px;
    width: 100%;
    display: block;
    transition: top 0.5s; /* Transition effect when sliding down (and up) */      
}

.mainbox2 .face {
    font-family: Avenir Next;  
    border-color: transparent;
    background-color: transparent;
    padding: 30px 15px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
}

.mainbox2 .face:hover {   
    border-color: transparent;
    background-color: transparent;
    color: red;
}

.mainbox2 .face:focus, textarea { /* Removal of the blue border on click */
    outline: none !important;
}
    
.mainbox2 .header {
    padding: 1px;
    text-align: center;
    background: #bf0f35;
    color: white;
    font-size: 40px;
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 50px;
    width: 100%
}



/*MODEL SECTION*/
.mainbox .model {
    top: -15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
}

.mainbox .model .model-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 43%;
    right: 10%;
    top: 17%;
    text-align: center;
    width: 60%; 
    font-family: Cochin;  
    color: black;
    font-size: 30px;
}

.mainbox .mate {
    color: #690b08;
    font-size: 60px;
}

.mainbox .model .head {
    position: absolute;
    text-align: left;
    left: 5%;
    right: 20%;
    top: 65%;
    width: 80%; 
    font-family: Cochin;  
    color: white;
    font-size: 60px;
}

.mainbox .choose {
    font-family: Cochin;  
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: transparent;
    padding: 14px 35px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

.mainbox .choose:hover {
    border-color: white;
    color: white;
}

.mainbox .choose:focus, textarea {
    outline: none !important;
}



/*LIPSTICK SECTION*/
.mainbox .rect {
    top: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
}

.mainbox .rect .lipstick {
    position: absolute;
    left: -14%;
    right: 0%;
    top: -4%; 
    width: 80%;
}

.mainbox .rect .logo {
    position: absolute;
    left: 35%;
    right: 0%;
    top: 52%; 
    width: 80%;
}


.mainbox .rect .left {
    position: absolute;
    text-align: right;
    left: 13%;
    right: 10%;
    top: 26%; 
    width: 80%; 
    font-family: Helvetica Neue;  
    font-weight: 100;
    color: white;
    font-size: 24px;
}

.mainbox .rect .right {
    position: absolute;
    text-align: left;
    left: 16%;
    right: 10%;
    top: 61%; 
    width: 80%;
    font-family: Helvetica Neue;  
    font-weight: 100;
    color: white;
    font-size: 24px;
}

.mainbox .rect .oldcost {
    position: absolute;
    text-align: left;
    left: 42%;
    right: 10%;
    top: 85.1%; 
    width: 80%;
    font-family: Helvetica Neue;  
    font-weight: 100;
    color: white;
    font-size: 28px;
}

.mainbox .buy {
    font-family: Helvetica Neue;  
    font-weight: 100;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: inherit;
    padding: 10px 55px;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
}

.mainbox .buy:hover {
    border-color: darkgrey;
    border-style: solid;
    background: inherit;
    color: darkgrey;
}

.mainbox .buy:focus, textarea {
    outline: none !important;
}



/*HUES SECTION*/
.mainbox .hues {
    top: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.mainbox .hues .des {
    position: absolute;
    text-align: left;
    left: 5%;
    right: 10%;
    top: -10%; 
    width: 80%;
    font-family: Cochin;  
    color: black;
    font-size: 40px; 
}

.mainbox .hues .lips {
    position: absolute;
    left: 58.3%;
    right: 0%;
    top: 0%; 
    width: 80%;  
}

.mainbox .hues .colors {
    position: absolute;
    left: 5%;
    right: 0%;
    top: 32%; 
    width: 80%;
}



/*COLORS SECTION*/
.mainbox .pink {
    top: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.mainbox .pink .lipstickcolors {
    position: absolute;
    left: 38%;
    right: 0%;
    top: 10%; 
    width: 80%;
}

.mainbox .pink .heading {
    position: absolute;
    text-align: left;
    left: 5%;
    right: 20%;
    top: 0%; 
    width: 80%; 
    font-family: Cochin;  
    color: black;
    font-size: 50px; 
}

.mainbox .pink .desc {
    position: absolute;
    text-align: left;
    left: 5%;
    right: 20%;
    top: 14%;
    width: 80%; 
    font-family: Cochin;  
    color: black;
    font-size: 26px;
}

.mainbox .buy2 {
    font-family: Cochin;  
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: inherit;
    padding: 10px 65px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

.mainbox .buy2:hover {
    border-color: white;
    background: inherit;
    color: white;
}

.mainbox .buy2:focus, textarea {
    outline: none !important;
}



/*PENCIL SECTION*/
.mainbox .pencil {
    top: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.mainbox .pencil .pencilimg {
    position: absolute;
    left: 85%;
    right: 0%;
    top: 13%; 
    width: 80%;  
}

.mainbox .pencil .heading2 {
    position: absolute;
    left: 8%;
    right: 0%;
    top: 10%; 
    width: 80%;
}

.mainbox .pencil .pencildesc {
    position: absolute;
    text-align: left;
    left: 10%;
    right: 30%;
    top: 35%; 
    width: 80%; 
    font-family: Cochin;  
    color: #b26265;
    font-size: 26px;
}

.mainbox .pencil .newcost {
    position: absolute;
    text-align: left;
    left: 55%;
    right: 30%;
    top: 63%; 
    width: 80%; 
    font-family: Cochin;  
    color: #b26265;
    font-size: 38px;
}

.mainbox .pencil .oldcost2 {
    position: absolute;
    text-align: left;
    left: 64%;
    right: 30%;
    top: 63.7%; 
    width: 80%; 
    font-family: Cochin;  
    color: #b26265;
    font-size: 32px;
}

.mainbox .pencil .paint {
    position: absolute;
    left: 10%;
    right: 0%;
    top: 60%; 
    width: 80%; 
}

.mainbox .pencil .button {
    position: absolute;
    text-align: center;
    left: 23%;
    right: 10%;
    top: 68%; 
    width: 80%; 
    font-family: Cochin;  
    color: #b26265;
    font-size: 30px;
}

.mainbox .buy3 {
    font-family: Cochin;  
    color: #b26265;
    border-style: solid;
    border-width: 1px;
    border-color: #b26265;
    background-color: inherit;
    padding: 10px 95px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

.mainbox .buy3:hover {
    border-color: black;
    background: inherit;
    color: black;
}

.mainbox .buy3:focus, textarea {
    outline: none !important;
}



/*PURPLE BONUS SECTION*/
.mainbox .purple {
    top: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.mainbox .purple .heading3 {
    position: absolute;
    text-align: center;
    left: 10%;
    right: 30%;
    top: 2%; 
    width: 80%; 
    font-family: Cochin;  
    color: #642897;
    font-size: 24px;
}

.mainbox .purple .minies {
    position: absolute;
    left: 4%;
    right: 0%;
    top: 26%; 
    width: 80%;
}

.mainbox .purple .bag {
    position: absolute;
    left: 36%;
    right: 0%;
    top: 50%; 
    width: 80%; 
}

.mainbox .purple .purpledesc {
    position: absolute;
    text-align: right;
    left: 10%;
    right: 30%;
    top: 35%; 
    width: 80%; 
    font-family: Cochin;  
    color: #642897;
    font-size: 24px;
}



/*PINK BONUS SECTION*/
.mainbox .pinkframe {
    top: 750px; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.mainbox .pinkframe .heading4 {
    position: absolute;
    text-align: center;
    left: 10%;
    right: 30%;
    top: 2%; 
    width: 80%; 
    font-family: Cochin;  
    color: #97284f;
    font-size: 24px;
}

.mainbox .pinkframe .combo {
    position: absolute;
    left: 28%;
    right: 0%;
    top: 35%; 
    width: 80%; 
}

.mainbox .pinkframe .pinkdesc {
    position: absolute;
    text-align: right;
    left: 15%;
    right: 30%;
    top: 32%; 
    width: 80%; 
    font-family: Cochin;  
    color: #97284f;
    font-size: 24px;
}



/*BLUE BONUS SECTION*/
.mainbox .blue {
    top: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.mainbox .blue .heading5 {
    position: absolute;
    text-align: center;
    left: 10%;
    right: 30%;
    top: 2%; 
    width: 80%; 
    font-family: Cochin;  
    color: #282d97;
    font-size: 24px;
}

.mainbox .blue .bluedesc {
    position: absolute;
    text-align: center;
    left: 10%;
    right: 30%;
    top: 74%; 
    width: 80%; 
    font-family: Cochin;  
    color: #282d97;
    font-size: 24px;
}

.mainbox .blue .group {
    position: absolute;
    left: 29%;
    right: 0%;
    top: 35%; 
    width: 80%; 
}
